@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.containerr {
    display: grid; /* Utilisation de grid */
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px; /* Espacement entre les divs */
    margin: 0;
    max-width: 100%; /* La grille a une largeur maximale de 100% de la largeur de la fenêtre */
    height: 100%;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.buttonHome2{
    font-size: 24px;
}
.compteur{
    text-align: center;
    font-size: 36px;
}
.profile-info{
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
}
.spanCSS{
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.titre{
    font-size: 40px !important;
}
.card-metric{
    font-size: 24px !important;
}